@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sodexo Call Center</h1>
    <p class="lead">Buscando llamada entrante, por favor mantenganse en línea. No cierre la Pantalla</p>
    
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Para facilitar el uso de esta herramienta, siga estos consejos</h2>
        <p>EVITE EN TODO MOMENTO REFRESCAR EL NAVEGADOR</p>
        <p>HAGA USO DE LAS OPCIONES NECESARIAS</p>
        <p>ENFOQUESE EN DAR LA INFORMACIÓN NECESARIA</p>
        <p>EVITE HABLAR DE TEMAS DIFERENTES AL QUE LE INTERESA AL USUARIO</p>
    </div>
  
  
</div>